<div id="body">
  <div class="content">
    <h1>About this Project</h1>

		<h2>Abstract</h2>
		<p> How might we inform the addiction recovery community on how to improve the probability of a successful recovery? Substance addiction is a public health epidemic in America. This project aims to assist those suffering from substance addiction so that they might better understand their demons. Visualizations help communicate high-level takeaways to those unfamiliar with statistics and provides a sanity check for the prediction model. Tenfold-cross validation shows the model is 84% accurate in a classification context. A simple survey assists users unfamiliar with a structured query language explore the dataset. The visual display of quantitative information is a non-trivial task, but a mixed methods approach to problem-solving help make temporal sequence analysis tractable and pragmatic.</p>
		
		<a href="../hazleden_Project_Summary.pdf"> PDF</a>

