<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <ul class="data_list">
  {{#each data}}
    <li>{{this}}</li>
  {{/each}}
</ul>
    {{body}}
  </body>
</html>
