<div id="body">
  <div class="content">
    <h1>Welcome to the Hazelden Data Exploration App!</h1>
    <h3>Please complete the form below to discover users similar to yourself!</h3>
  </div>
  <form id="theForm" enctype="application/x-www-form-urlencoded">
    <p class="label">How long have you been involved in a 12 step recovery program?</p>
    <table>
      <tr>
        <td>Period</td>
        <td>Frequency</td>
      </tr>
      <tr>
        <td>
          <select class = "select" name="durationPeriod" form="theForm">
            <option value=365>Days</option>
            <option value=52>Weeks</option>
            <option value=12>Months</option>
            <option value=1>Years</option>
          </select>
        </td>
        <td>
          <input class="input" id="duration" name="duration" type="number"><br>
        </td>
      </tr>
    </table>
    <p class="label">How often do you attend 12 step recovery meetings</p>
    <table>
      <tr>
        <td>Period</td>
        <td>Frequency</td>
      </tr>
      <tr>
        <td>
          <select class = "select" name="meetingPeriod" form="theForm">
            <option value=365>Daily</option>
            <option value=52>Weekly</option>
            <option value=12>Monthly</option>
            <option value=1>Yearly</option>
          </select>
        </td>
        <td>
          <input class="input" id="meeting" name="meeting" type="number"><br>
        </td>
      </tr>
    </table>
    <p class="label" >How often do you seek support during your recovery process?</p>
    <table>
      <tr>
        <td>Period</td>
        <td>Frequency</td>
      </tr>
      <tr>
        <td>
          <select class = "select" name="supportPeriod" form="theForm">
            <option value=365>Daily</option>
            <option value=52>Weekly</option>
            <option value=12>Monthly</option>
            <option value=1>Yearly</option>
          </select>
        </td>
        <td>
          <input class="input" id="support" name="support" type="number"><br>
        </td>
      </tr>
    </table>
    <p class="label" >
      How often have you kept track of progress?<br>
      (e.g. Make a journal entry, kept a sober counter, etc.)
    </p>
    <table>
      <tr>
        <td>Period</td>
        <td>Frequency</td>
      </tr>
      <tr>
        <td>
          <select class = "select" name="trackProgressPeriod" form="theForm">
            <option value=365>Daily</option>
            <option value=52>Weekly</option>
            <option value=12>Monthly</option>
            <option value=1>Yearly</option>
          </select>
        </td>
        <td>
          <input class="input" id="trackProgress" name="trackProgress" type="number"><br>
        </td>
      </tr>
    </table>
    <p class="label">How often do you read inspiriational messages/message of the day?</p>
    <table>
      <tr>
        <td>Period</td>
        <td>Frequency</td>
      </tr>
      <tr>
        <td>
          <select class = "select" name="messagePeriod" form="theForm">
            <option value=365>Daily</option>
            <option value=52>Weekly</option>
            <option value=12>Monthly</option>
            <option value=1>Yearly</option>
          </select>
        </td>
        <td>
          <input class="input" id="message" name="message" type="number"><br>
        </td>
      </tr>
    </table>
    <p class="label">How often do you view any of the 12 steps?</p>
    <table>
      <tr>
        <td>Period</td>
        <td>Frequency</td>
      </tr>
      <tr>
        <td>
          <select class = "select" name="twelveStepPeriod" form="theForm">
            <option value=365>Daily</option>
            <option value=52>Weekly</option>
            <option value=12>Monthly</option>
            <option value=1>Yearly</option>
          </select>
        </td>
        <td>
          <input class="input" id="twelveStep" name="twelveStep" type="number"><br>
        </td>
      </tr>
    </table>
    <p class="label">
      After you first started attending 12 step meetings how long did you remain sober?<br>
      (i.e. Duration until initial relapse.)
    </p>
    <table>
      <tr>
        <td>Period</td>
        <td>Frequency</td>
      </tr>
      <tr>
        <td>
          <select class = "select" name="relapsePeriod" form="theForm">
            <option value=365>Days</option>
            <option value=52>Weeks</option>
            <option value=12>Months</option>
            <option value=1>Years</option>
          </select>
        </td>
        <td>
          <input class="input" id="relapse" name="relapse" type="number"><br>
        </td>
      </tr>
    </table>
    <p></p>
    <button class ="button" type="button" id="btn">Visualize Data</button>
  </form>
</div>
