<h1>Welcome to the Hazelden Data Exploration App!</h1>
<p>Please comeplete the form below to discover users similar to yourself!</p>
<form>
  <p>How often do you attend 12 step recovery meetings</p>
  <table>
    <tr>
      <td>Period</td>
      <td>Frequency</td>
    </tr>
    <tr>
      <td>
        <select>
          <option value="1">Daily</option>
          <option value="7">Weekly</option>
          <option value="30">Monthly</option>
          <option value="365">Yearly</option>
        </select>
      </td>
      <td>
        <input name="meeting" type="number"><br>
      </td>
    </tr>
  </table>
  <p>How often do you seek support during your recoverty process?</p>
  <table>
    <tr>
      <td>Period</td>
      <td>Frequency</td>
    </tr>
    <tr>
      <td>
        <select>
          <option value="1">Daily</option>
          <option value="7">Weekly</option>
          <option value="30">Monthly</option>
          <option value="365">Yearly</option>
        </select>
      </td>
      <td>
        <input name="support" type="number"><br>
      </td>
    </tr>
  </table>
  <p>
    How often have you kept track of progress?<br>
    (e.g. Make a journal entry, kept a sober counter, etc.)
  </p>
  <table>
    <tr>
      <td>Period</td>
      <td>Frequency</td>
    </tr>
    <tr>
      <td>
        <select>
          <option value="1">Daily</option>
          <option value="7">Weekly</option>
          <option value="30">Monthly</option>
          <option value="365">Yearly</option>
        </select>
      </td>
      <td>
        <input name="trackProgress" type="number"><br>
      </td>
    </tr>
  </table>
  <p>How often do you read inspiriational messages/message of the day?</p>
  <table>
    <tr>
      <td>Period</td>
      <td>Frequency</td>
    </tr>
    <tr>
      <td>
        <select>
          <option value="1">Daily</option>
          <option value="7">Weekly</option>
          <option value="30">Monthly</option>
          <option value="365">Yearly</option>
        </select>
      </td>
      <td>
        <input name="message" type="number"><br>
      </td>
    </tr>
  </table>
  <p>How often do you view any of the 12 steps?</p>
  <table>
    <tr>
      <td>Period</td>
      <td>Frequency</td>
    </tr>
    <tr>
      <td>
        <select>
          <option value="1">Daily</option>
          <option value="7">Weekly</option>
          <option value="30">Monthly</option>
          <option value="365">Yearly</option>
        </select>
      </td>
      <td>
        <input name="12step" type="number"><br>
      </td>
    </tr>
  </table>
  <p>
    After you first started attending 12 step meetings how long did you remain sober?<br>
    (i.e. Duration until initial relapse.)
  </p>
  <table>
    <tr>
      <td>Period</td>
      <td>Frequency</td>
    </tr>
    <tr>
      <td>
        <select>
          <option value="1">Daily</option>
          <option value="7">Weekly</option>
          <option value="30">Monthly</option>
          <option value="365">Yearly</option>
        </select>
      </td>
      <td>
        <input name="relapse" type="number"><br>
      </td>
    </tr>
  </table>
  <p></p>
  <!-- <input type="button" name="ajaxButton" id="ajaxButton"> -->
  <input type="submit">
</form>
