<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="./javascripts/local.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css'/> -->
  </head>
  <body>
    {{{body}}}
  </body>
</html>
