<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="./javascripts/local.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
</head>
<body>



                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

                      <script type="text/javascript">

    var treeData = {
    "name": "Total Population",
    "parent": "null",
    "value": 596,
    "relapse": 0.12,
    "type": "black",
    "level": "red",
    "icon": "earth.png",
    "children": [
      {
        "name": "Level 2: A",
        "parent": "Top Level",
        "value": 51,
        "relapse": 0.32,
        "type": "grey",
        "level": "red",
       "icon": "cart.png",
        "children": [
          {
            "name": "Group 15",
            "parent": "Level 2: A",
            "value": 11,
            "relapse": 0.53,
            "type": "steelblue",
            "icon": "lettern.png",
            "level": "orange"
          },
          {
            "name": "Daughter of A",
            "parent": "Level 2: A",
            "value": 40,
            "relapse":0.27,
            "type": "steelblue",
            "icon": "vlc.png",
            "level": "red",
            "children": [
                       {
                        "name": "Daughter of A",
                        "parent": "Level 2: A",
                        "value": 30,
                        "relapse": 0.31,
                        "type": "steelblue",
                        "icon": "vlc.png",
                        "level": "red"
                      },
                      {"name": "Daughter of A",
                        "parent": "Level 2: A",
                        "value": 11,
                        "relapse":0.15,
                        "type": "steelblue",
                        "icon": "vlc.png",
                        "level": "red"
                      }
                        ]
                }
        ]
      },
      {
        "name": "Level 2: B",
        "parent": "Top Level",
        "value": 545,
        "relapse": 0.1,
        "type": "grey",
        "icon": "random.png",
        "level": "green",
        "children": [
        {
            "name": "Son of B",
            "parent": "Level 2: A",
            "value": 263,
            "relapse": 0.14,
            "type": "steelblue",
            "icon": "lettern.png",
            "level": "orange"

        },{
            "name": "",
            "parent": "Level 2: A",
            "value": 282,
            "relapse": 0.066,
            "type": "steelblue",
            "icon": "lettern.png",
            "level": "orange",
            "children": [
            {
            "name": "Group 1",
            "parent": "Level 2: A",
            "value":85,
            "relapse": 0.035,
            "type": "steelblue",
            "icon": "lettern.png",
            "level": "orange"

        },{
            "name": "Group 2",
            "parent": "Level 2: A",
            "value":102,
            "relapse": 0.035,
            "type": "steelblue",
            "icon": "lettern.png",
            "level": "orange"

        }]
          }
        ]
      }
    ]
  }
;






     createGraph(treeData);


</script>
</body>
</html>
